:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stupor-bowl-card {
  width: 720px;
  margin: 0 auto;
}

@media print {
  button {
    display: none !important;
  }

  input, label {
    display: none !important;
  }

  body {
    background: #fff;
  }

  .no-print {
    display: none !important;
  }
}